.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 93px;
  gap: 37px;
}

.header__menu-list {
  display: flex;
  justify-content: space-between;
  gap: 33px;
}

.header__menu-list-item {
  list-style: circle;
}

.header__link {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  text-transform: lowercase;
  text-decoration: none;
  border-bottom: 2px solid #000;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  display: block;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
}

.address__link {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px solid #000;
  line-height: 1.35;
}

.header__address {
  max-width: 240px;
  justify-self: end;
}

.cover {
  position: relative;
  display: flex;
  background: url("../images/lotus-flower.png") center / cover no-repeat;
  min-height: 757px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0, 0, 0, 0.6);
}

.cover__details {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 165px 50px 50px;
}

.cover__title {
  display: grid;
  gap: 20px;
  font-size: 100px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.15;
  letter-spacing: 30%;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
  padding-left: 30px;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.letter-spacing-extended {
  word-spacing: 19px;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
}

.bet-button {
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 12px 32px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.lots {
  padding: 180px 24px 120px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  padding: 0px 40px 27px;
  text-transform: uppercase;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.lots__card-list-item {
  list-style: none;
  width: 100%;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  width: 334px;
  min-height: 596px;
}

.card-link {
  text-decoration: none;
}

.card__details {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  width: 100%;
  padding: 48px 40px;
}

.card_image {
  background: center / cover no-repeat;
}

.card_type_film {
  background-image: url("../images/film-rezhissyora-kotoryj-brosil-kinoshkolu.png");
}

.card_type_book {
  background-image: url("../images/kniga-gde-opisan-odin-skuchnyj-den-iz-zhizni-reklamnogo-agenta.jpg");
}

.card_type_picture {
  background-image: url("../images/kartina-kotoruyu-povtorit-dazhe-5-letnij-syn-maminoj-podrugi.png");
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  display: inline-block;
  font-size: 20px;
  text-decoration: underline;
  text-transform: lowercase;
  padding: 30px 40px;
}

.about {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 72px;
  padding: 0 24px 180px;
}

.about__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  border-radius: 100%;
  width: 240px;
  height: 240px;

  margin-left: 47px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column {
  max-width: 693px;
  width: 100%;
  padding-top: 106px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about__text {
  font-size: 20px;
  line-height: 1.2;
  padding-bottom: 24px;
  letter-spacing: 1%;
}

.about__text:last-child {
  padding: 0;
}

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 50px 82px;
}

.footer__address {
  max-width: 265px;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-link {
  font-size: 18px;
  line-height: 1.2;
  text-transform: lowercase;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 48px;
  min-width: 240px;
}
.footer__social-icon {
  display: block;
}
